<div class="row">
  <div
    class="col l4 s12 offset-l4 z-depth-2  hoverable"
    id="principal"
    style="margin-top:8%;"
  >
    <h2 style="margin-left: 16%;">Paffi Delivery</h2>
    <form class="col s8 offset-s2" [formGroup]="formularioLogin">
      <div class="input-field">
        <input formControlName="email" id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field">
        <input formControlName="email" id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
    </form>
    <div class="col s8 offset-s2" style="margin-top:2em;">
      <button
        pButton
        type="button"
        class="col s12"
        label="Entrar"
        (click)="logar()"
      ></button>
    </div>
    <div class="col s8 offset-s2" style="margin-top:15px;margin-bottom: 3em">
      <button pButton type="button" class="col s12" label="Cadastrar" (click)="logar()"></button>
  </div>
  </div>
</div>
<div class="col s8 offset-s2" id="poha"></div>
